.asteroid_big , .asteroid_b329_big {
    color: blue;
}

.asteroid_b326 , .asteroid {
    border: 1px solid green;
    width: 20%;
    font-weight: bold;
}

.asteroid_b329_big {
    font-weight: bold;
}

.asteroid_big {
    background-color: yellow;
    width: 20%;
}





